.blog {
    border-bottom: 1px solid #ccc;
}

.blogs-first {
    border-top: 1px solid #ccc;
}

.blog-content {
    padding-top: 20px;
    display: flex;
}

.blog-title {
    text-align: left;
    font-family: var(--main-title-font);
    font-size: 28px;
    line-height: 103%;
    color: var(--main-black);
    margin-bottom: 17px;
    padding-top: 30px;
}

.blog-info {
    text-align: left;
    font-family: var(--main-text-font);
    font-size: var(--main-fontsize-text);
    line-height: 135%;
    color: var(--main-black);
    margin-bottom: 25px;
    width: calc(100% - 280px);
    padding-left: 20px;
}

.blog-image {
    padding-bottom: 20px;
    width: 260px;
}

.blog-image img {
    display: block;
    width: 100%;
    object-fit: cover;
}

.blog-link {
    margin-top: auto;
    font-family: var(--main-medium-font);
    font-size: 22px;
    line-height: 135%;
    color: var(--main-black);
    text-decoration: underline;
}

.blogs-content {
    padding-bottom: 90px;
}

@media (max-width: 1024px) {
    .blog-title {
        font-size: 24px;
    }
    .blog-link {
        font-size: 20px;
    }
    .blog-content {
        padding-bottom: 30px;
        padding-bottom: 30px;
    }
    .blog-image {
        width: 200px;
    }
    .blog-info {
        width: calc(100% - 220px);
        margin-bottom: 0;
    }
}

@media (max-width: 576px) {
    .blog-content {
        flex-direction: column;
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .blog-title {
        font-size: 22px;
        text-align: center;
    }
    .blog-image {
        width: 190px;
        margin: 0 auto;
    }
    .blog-info {
        width: 100%;
        padding-left: 0;
    }
    .blog-link {
        display: block;
        margin: 0 auto;
        text-align: center;
        font-size: var(--main-fontsize-text);
    }
    .blogs-content {
        padding-bottom: 40px;
    }
}