.contact-form-wrapper {
    padding:100px 0 100px 0;
    width: 100%;
    background-color: var(--main-blue);
}

.contact-form-container {
    padding: 75px 15px 75px 15px;
    display: flex;
    margin: 0 auto;
    background-color: var(--main-white);
    outline: 2px solid;
    outline-color: var(--main-blue);
    outline-offset: -10px;
    overflow: hidden;
}

.text-section {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    .title__text {
        font-family: "Manrope-Bold", sans-serif;
        line-height: 98%;
        font-size: 40px;
    }
}

.main__text {
    font-family: "Manrope-Regular", sans-serif;
    font-size: 18px;
    padding-left: 0px;
}

.form__check {
    padding-left: 0px;
    font-family: "Manrope-Medium", sans-serif;
    color: #858585;
    font-size: 15px;
    line-height: 130%;
}

.input-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.form-control {
    max-width: 350px;
}

.input-section input {
    margin-bottom: 15px;
}

.contact-form-captcha {
    max-width: 245px;
    padding-bottom: 20px;
}

.submit-button {
    max-width: 245px;
    height: 40px;
    background-color: #E7CA80;
    font-family: "Manrope-Medium";
    font-size: 18px;
    line-height: 110%;
    color: #272727;
}
.submit-button:hover {
    background-color: #0056b3;
}

@media (max-width: 576px) {
    
    .contact-form-container {
        padding: 0px;
    }

    .contact-form-wrapper {
        padding: 0px;
        background-color: #fff;
    }

    .contact-form-container {
        outline: none;
    }
}

@media (max-width: 768px) {

    .text-section {

        .title__text {
            font-size: 26px;
        }

        .main__text {
            font-size: 13px;
        }
    }

    .form__check {
        font-size: 10px;
    }
}