.header {
    padding-top: 38px;
    background-color: var(--main-blue);
    color: var(--main-white);
}

.header a {
    color: var(--main-white)
}

.header ul {
    list-style: none;
}

.header-top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    align-items: flex-end;
}

.border-bottom {
    border-bottom: 1px solid #EFEFEF;
    padding-bottom: 27px;
}

.header-nav {
    width: 580px;
}

.header-nav-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 0;
}

.header-address {
    margin: 0;
    font-family: var(--main-medium-font);
    font-size: var(--main-fontsize-text);
    line-height: 1.41;
}

.header-logo-flex {
    width: 227px;
}

.header-logo-link {
    font-size: 20px;
    line-height: 1.3;
}

.header-logo-link:hover {
    text-decoration: none;
}

.header-logo-flex span {
    font-weight: 600;
    line-height: 1.3;
}

.header-nav-link {
    font-size: var(--main-fontsize-text);
    transition: var(--transition);
    font-family: var(--main-medium-font);
}

.header-nav-link:hover {
    opacity: var(--link-opacity);
    text-decoration: none;
}

.header-contacts-flex {
    display: flex;
    flex-direction: column;
    text-align: right;
    width: 260px;
}

.header-contacts {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 5px;
}

.header-socials {
    display: flex;
    flex-direction: row;
    margin-right: 5px;
}

.header-social {
    display: block;
    width: 30px;
    height: 30px;
    margin-right: 5px;
}

.header-social-img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.header-phone {
    font-family: var(--main-extrabold-font);
    font-size: 18.5px;
}

.burger {
    display: none;
}

@media (max-width: 1024px) {
    .header-logo-flex {
        width: 180px;
    }
    .header-logo-link {
        font-size: 15px;
    }
    .header-nav {
        width: 480px;
    }
    .header-phone {
        font-size: 15px;
    }
}

@media (max-width: 576px) {
    .header-nav {
        display: none;
    }
    .burger {
        display: block;
    }
    .header-top {
        flex-wrap: wrap;
    }
    .header-logo-flex {
        display: flex;
        width: 100%;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 10px;
    }
    .header-contacts-flex {
        width: 100%;
        flex-direction: row;
        text-align: unset;
        justify-content: space-between;
    }
    .header-contacts {
        text-align: left;
        justify-content: flex-start;
        flex-direction: column;
        align-items: flex-start;
        width: 48%;
        margin-bottom: 0;
    }
    .header-address {
        width: 48%;
        display: flex;
        align-items: flex-end;
        text-align: right;
    }
    .header-socials {
        margin-bottom: 10px;
    }
    .header-social {
        margin-right: 10px;
    }
    .header-logo-link {
        width: 230px;
    }
}