.reviews-title {
    font-family: var(--main-text-font);
    font-size: 45px;
    text-align: left;
    line-height: 103%;
    color: #272727;
}

.reviews-text {
    padding-top: 25px;
    font-family: var(--main-text-font);
    font-size: 16px;
    line-height: 135%;
    margin-bottom: 20px;
}